.clients-section {
    background-color: white;
    padding: 40px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .clients-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 0 16px;
  }
  
  /* .client-card {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  } */
  
  .client-card:hover {
    transform: scale(1.05);
  }
  
  .client-logo {
    height: 100px;
    object-fit: contain;
    /* width:20px */
  }
  